<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'blog/base.html' %}
    {% load django_bootstrap5 %}
    {% block page_header %}
        <h3>  Thema: <a href="{% url 'blog_app:thema' thema.id %}" >{{thema.thema}}</a>  <br>
        SubThema: {{subthema.subthema}} 
        <br><br>
        </h3> 
    {% endblock page_header %}

    {% block content %}
    <br><br>
    
    <form action="{% url 'blog_app:edit_subthema' subthema.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Change and Save" %}  
    </form>
    {% endblock content %}
</body>
</html>